
<div class="content {{#if top}}top{{/if}}">
    <div class="menu {{#if top}}top{{/if}}">
        {{#each menus as |menu|}}
        <div class="category-list {{#if ../top}}top{{/if}}">
            {{#each menu.categories as |category|}}
            <div class="category {{#if category.active}}active{{/if}}" data-id="{{category.id}}" title="{{category.title}}{{#if category.query}}&#013;{{category.query}}{{/if}}">
                {{#if category.img}}
                <img src="{{category.img}}">
                {{else if category.fa}}
                <i class="{{category.fa}}"></i>
                {{else}}
                <i class="fa-solid fa-triangle-exclamation"></i>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    
    <form style="flex: 1; overflow-y: auto;">
        <div class="preset-browser">
            {{>me-preset-list presets=presets}}
        </div>
    </form>
</div>
