
<div class="content">
    <div class="menu">
        {{#each menus as |menu|}}
        <div class="category-list">
            {{#each menu.categories as |category|}}
            <div class="category {{#if category.active}}active{{/if}}" data-id="{{category.id}}" title="{{category.title}}">
                {{#if category.img}}
                <img src="{{category.img}}">
                {{else if category.fa}}
                <i class="{{category.fa}}"></i>
                {{else}}
                <i class="fa-solid fa-triangle-exclamation"></i>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    
    <form class="preset-browser" style="flex: 1;">
        <div class="item-list folder-items" data-tooltip-direction="RIGHT" data-tooltip-class="preset-tooltip">
            {{>me-presets-content createEnabled=False callback=../callback presets=presets}}
        </div>
    </form>
</div>
