<form autocomplete="off">
    <input type="hidden" name="type" value="{{preset.documentName}}"/>


    <div class="form-group">
        <label>Preset Name</label>
        <div class="form-fields">
            <input type="text" name="name" placeholder="Preset Name" value="{{preset.name}}" minlength="{{minlength}}" {{#if minlength}}required{{/if}} autofocus>
        </div>
    </div>

    <div class="form-group">
        <label>Thumbnail</label>
        <div class="form-fields">
            {{filePicker target="img" type="image"}}
            <input class="image" type="text" name="img" placeholder="path/image.png" value="{{preset.img}}">
            {{#if tva}} 
            <button  class="token-variants-image-select-button" type="button" data-type="imagevideo" data-target="img">
              <i class="fas fa-images"></i>
            </button>
            {{/if}}
        </div>
    </div>

    {{#if documentEdit}}
    <fieldset>
        <legend>Data</legend>
        <div class="form-group">
            <label>Edit [{{documentEdit}}]</label>
            <div class="form-fields">
                <button  class="edit-document" type="button"><i class="fa-solid fa-gear"></i></button>
            </div>
            <p class="notes">Edit {{documentEdit}} data present on the preset/s.</p>
        </div>
        <div class="form-group">
            <label>Assign [{{documentEdit}}]</label>
            <div class="form-fields">
                <button  class="assign-document" type="button"><i class="fa-solid fa-arrow-right-to-arc"></i></button>
            </div>
            <p class="notes">Assign currently selected {{documentEdit}}/s to the preset/s.</p>
        </div>
        {{#if allowFieldDelete}}
        <div class="form-group">
            <label>Delete Fields</label>
            <div class="form-fields">
                <button  class="delete-fields" type="button"><i class="fa-solid fa-arrow-right-to-arc"></i></button>
            </div>
            <p class="notes">Select fields you wish to remove from this preset.</p>
        </div>
        {{/if}}

    </fieldset>
    {{/if}}

    <button type="submit" data-action="apply"><i class="fas fa-check"></i> Apply</button>
</form>
