<form autocomplete="off" style="flex-direction: column; display: flex; justify-content: space-between;">
    <div style="max-height: 700px; overflow: auto; color: rgba(255, 255, 240, 0.8);">
        <ol class="preset-field-list">
            {{#each fields as |field|}}
            <li class="item flexrow" name="{{field.name}}" title="{{field.value}}"><label>{{field.name}}</label><label class="value">{{field.value}}</label></li>
            {{/each}}
        </ol>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit" style="background: beige;"><i class="fas fa-trash"></i>{{localize "multi-token-edit.common.delete"}}</button>
    </footer>
</form>
