<li class="item item-s flexrow {{#if editable}}editable{{/if}}" data-uuid="{{preset.uuid}}" name="{{preset.name}}" draggable="true" data-doc-name="{{preset.documentName}}">
    
    <img loading="lazy" class="thumbnail" src="{{preset.thumbnail}}">

  <div class="item-name flexrow">
    <label title="{{preset.title}}" name="{{preset.name}}">{{preset.name}} </label>
  </div>

  <div class="item-controls flexrow {{#unless refreshEnabled}}short{{/unless}}">
    {{#if createEnabled}}
    <div class="item-control preset-update"><a title="{{localize 'MassEdit.presets.update-preset'}}"><i class="fas fa-sync"></i></a></div>
    &nbsp;
    {{/if}}
    {{#if preset.isPlaceable}}
    <div class="item-control preset-brush">
      <a title="{{localize 'MassEdit.presets.controls.activate-brush'}}"><i class="fas fa-paint-brush"></i></a>
    </div>
    {{/if}}
    {{#if callback}}
    &nbsp;
    <div class="item-control preset-callback"><a title="{{localize 'MassEdit.common.apply'}}"><i class="fa-solid fa-arrow-right-to-arc"></i></a></div>
    {{/if}}
  </div>
  <i class="icon {{preset.icon}}"></i>
</li>