<div class="drag-drop-overlay"><p class="label">{{localize "MassEdit.common.attach"}}</p></div>
<form autocomplete="off" style="overflow: hidden;">
    <input type="hidden" name="type" value="{{preset.documentName}}"/>


    <div class="form-group">
        <label>{{localize "Name"}}</label>
        <div class="form-fields">
            <input type="text" name="name" placeholder="Preset Name" value="{{preset.name}}" minlength="{{minlength}}" {{#if minlength}}required{{/if}} autofocus>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "COMBAT.CombatantImage"}}</label>
        <div class="form-fields">
            {{filePicker target="img" type="image"}}
            <input class="image" type="text" name="img" placeholder="path/image.png" value="{{preset.img}}">
            {{#if tva}} 
            <button  class="token-variants-image-select-button" type="button" data-type="imagevideo" data-target="img">
              <i class="fas fa-images"></i>
            </button>
            {{/if}}
        </div>
    </div>

    {{#if documentEdit}}
    <fieldset>
        <legend>{{localize "MassEdit.common.data"}}</legend>
        <div class="form-group {{#if editDisabled}}disabled{{/if}}">
            <label>{{localize "SIDEBAR.Edit"}} [{{documentEdit}}]</label>
            <div class="form-fields">
                <button  class="edit-document" type="button" {{#if editDisabled}}disabled{{/if}}><i class="fa-solid fa-gear"></i></button>
            </div>
            <p class="notes">{{localize "MassEdit.presets.data-edit" document=documentEdit}}</p>
        </div>
        {{#if displayFieldDelete}}
        <div class="form-group {{#if deleteDisabled}}disabled{{/if}}">
            <label>{{localize "MassEdit.presets.delete-fields"}}</label>
            <div class="form-fields">
                <button  class="delete-fields" type="button" {{#if deleteDisabled}}disabled{{/if}}><i class="fas fa-tasks"></i></button>
            </div>
            <p class="notes">{{localize "MassEdit.presets.select-delete"}}</p>
        </div>
        {{/if}}
        {{#if isPlaceable}}
        <div class="form-group {{#if assignDisabled}}disabled{{/if}}">
            <label>Assign [{{documentEdit}}]</label>
            <div class="form-fields">
                <button  class="assign-document" type="button" {{#if assignDisabled}}disabled{{/if}}><i class="fa-solid fa-arrow-right-to-arc"></i></button>
            </div>
            <p class="notes">{{localize "MassEdit.presets.data-assign" document=documentEdit}}</p>
        </div>
        {{/if}}

    </fieldset>

    <hr>

    <details {{#if advancedOpen}}open{{/if}}>
        <summary>{{localize "TOKEN.SightHeaderAdvanced"}}</summary> <br>

        {{#if displayFieldModify}}
        <fieldset>
            <legend>{{localize "MassEdit.presets.spawning"}}</legend>
        
           
            <div class="form-group">
                <label>{{localize "MassEdit.common.attached"}}</label>

                <div class="form-fields">
                    {{#if attached}}
                    <div>
                        {{#each attached}}
                        <a class="attached" data-index="{{@index}}"><i class="{{icon}}" data-tooltip="{{tooltip}}"></i></a>
                        {{/each}}
                    </div>
                    {{else}}
                    <div style="border: 2px dashed; text-align: center; color: orangered; padding: 2px;">{{localize "MassEdit.presets.drag-placeable"}}</div>
                    {{/if}}
                    <button class="attach-selected" type="button" data-tooltip="Attach Selected Placeables"><i class="fas fa-plus-square"></i></button>
                </div>
                <p class="notes">{{localize "MassEdit.presets.drag-placeable-hint"}}</p>
            </div>

            <div class="form-group {{#if modifyDisabled}}disabled{{/if}}">
                <label>{{localize "MassEdit.common.modify"}}</label>
                <div class="form-fields">
                    <button  class="spawn-fields" type="button" {{#if modifyDisabled}}disabled{{/if}}><i class="fas fa-tasks"></i></button>
                </div>
                <p class="notes">{{localize "MassEdit.presets.select-modify"}}</p>
            </div>

            <div class="form-group stacked command">
                <label>Pre-Spawn Script</label>
                <textarea style="height: 120px" name="preSpawnScript">{{preset.preSpawnScript}}</textarea>
            </div>

            <div class="form-group stacked command">
                <label>Post-Spawn Script</label>
                <textarea style="height: 120px" name="postSpawnScript">{{preset.postSpawnScript}}</textarea>
            </div>
        </fieldset>
        {{/if}}

    </details>
    {{/if}}

    <button type="submit" data-action="apply"><i class="fas fa-check"></i> {{localize "MassEdit.common.apply"}}</button>
</form>
