<li class="item item-s flexrow {{#if sortable}}sortable{{/if}} {{#if preset.virtual}}virtual{{/if}}" data-uuid="{{preset.uuid}}" name="{{preset.name}}" draggable="true" data-doc-name="{{preset.documentName}}" data-tooltip="{{preset.name}}">
    
    <img loading="lazy" class="thumbnail" src="{{preset.thumbnail}}">

  <div class="item-name flexrow">
    <label title="{{preset.title}}" name="{{preset.name}}">{{preset.name}} </label>
    {{#if preset.tags.length}}
    <div class="tags">
      {{#each tags}}
      <span>{{this}}</span>
      {{/each}}
    </div>
    {{/if}}
  </div>

  <div class="item-controls flexrow">
    {{#if createEnabled}}
    <div class="item-control preset-update"><a title="{{localize 'MassEdit.presets.update-preset'}}"><i class="fas fa-sync"></i></a></div>
    &nbsp;
    {{/if}}
    {{#if preset.isPlaceable}}
    <!-- <div class="item-control preset-brush display-hover">
      <a title="Brush"><i class="fa-solid fa-paintbrush"></i></a>
    </div> -->
    <div class="item-control preset-favorite display-hover">
      <a title="Favorite"><i class="{{#if preset.isFavorite}}fa-solid{{else}}fa-regular{{/if}} fa-star"></i></a>
    </div>
    {{/if}}
    {{#if callback}}
    &nbsp;
    <div class="item-control preset-callback"><a title="{{localize 'MassEdit.common.apply'}}"><i class="fa-solid fa-arrow-right-to-arc"></i></a></div>
    {{/if}}
  </div>
  <i class="icon {{preset.icon}}"></i>
</li>