<div style="overflow-y: auto;">
    <div style="font-size: 150px; opacity: 11%; width: 100%; height: 77%; text-align: center; display: table; position: absolute;">
        <i class="fa-solid fa-sack" style="display: table-cell; vertical-align: middle;"></i>
    </div>

    <div class="preset-browser">

        {{#if searchBar}}
        <header class="preset-header flexcol">
            <div class="header-search flexrow">
                <input class="{{#if lastSearch}}active{{/if}}" type="search" name="search" value="{{lastSearch}}" placeholder="{{localize 'FILES.Search'}}" autocomplete="off" style="color: black">
            </div>
        </header>
        {{/if}}

        <div class="item-list folder-items" data-tooltip-direction="RIGHT" data-tooltip-class="preset-tooltip">
            {{#if containedPresets}}
                {{#if displayLabels}}<label class="static-label" style="margin-top: 0;">CONTAINED</label>{{/if}}
                {{>me-presets-content createEnabled=False callback=../callback presets=containedPresets}}
            {{/if}}
            {{#if searchedPresets}}
                {{#if displayLabels}}<label class="static-label" style="margin-top: 0;">SEARCH RESULTS</label>{{/if}}    
                {{>me-presets-content createEnabled=False callback=../callback presets=searchedPresets}}
            {{/if}}
        </div>
    </div>
</div>