<div class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">  
    <div class="form-group">
        <label>Display Search Bar</label>
        <input type="checkbox" name="searchBar" {{checked searchBar}}>
        <p class="hint">When enabled search bar will be displayed at the top of the bag.</p>
    </div>
</div>