<form class="mass-edit-history-form">
    <ol class="item-list">
        <li class="items-header flexrow">
            <div class="item-update">Update</div>
            {{#if includeDiff}}
            <div class="item-update">Diff</div>
            {{/if}}
            <div>Doc</div>
            <div>Copy</div>
            {{#if includeDiff}}
            <div>Copy Diff</div>
            {{/if}}
        </li>
        {{#each updates as |update|}}
        <li class="item flexrow" data-index="{{@index}}">
            <div class="item-update">
                <button title="{{update.fullTitle}}" name="update">{{update.label}}</button>
            </div>
            {{#if ../includeDiff}}
            <div class="item-update">
                <button {{#if update.hasDifferences}}class="me-diff"{{/if}} title="{{update.title}}" name="diff">{{update.label}}</button>
            </div>
            {{/if}}
            <div>
                <button type="button" class="doc-id" title="ID: {{update.id}}" data-id="{{update.id}}"><i class="fas fa-user"></i></button>
            </div>
            <div>
                <button type="button" class="doc-copy-update" title="Copy to Mass Edit Clipboard"><i class="fas fa-copy"></i></button>
            </div>
            {{#if ../includeDiff}}
            <div>
                <button type="button" class="doc-copy-diff" title="Copy to Mass Edit Clipboard"><i class="fas fa-copy"></i></button>
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ol>
</form>