<div style="display: flex; flex-direction: row; overflow: hidden;">
    <div class="controls">
        <div style="flex: 1; display: flex; flex-direction: column;">
            <a class="control selectedToLink" data-tooltip="Attach Selected to Link"><i class="fa-duotone fa-solid fa-square-dashed-circle-plus"></i></a>
            <a class="control pickerSelectToLink" data-tooltip="Attach Multi-Layer Select to Link"><i class="fa-solid fa-layer-plus"></i></a>
        </div>
    </div>
    <div class="image">
        <img style="width: 100%; height: 100%;" src="{{img}}">
    </div>
</div>
