.mass-edit-checkbox {
  flex: 0 !important;
  margin-left: 3px;
  display: grid;
}

.mass-edit-checkbox > input {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.mass-edit-randomize {
  display: inline-grid;
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}

.mass-edit-randomize.active::before {
  content: '';
  z-index: 0;
  position: relative;
  left: 50%;
  top: 50%;
  width: calc(100% * 1.5);
  height: calc(100% * 1.5);
  background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  animation: spin 11s linear infinite;
}

.form-group.meCommon {
  margin-bottom: 5px;
}

.form-group.meDiff {
  margin-bottom: 5px;
}

.form-group.meFlag {
  margin-bottom: 5px;
}

.mass-edit-tab-selected {
  background: rgba(255, 202, 58, 0.8);
}

.me-mod-update {
  flex: 0 !important;
  display: grid;
  align-items: center;
}

.me-mod-update > input {
  grid-column: 1;
  grid-row: 1;
}

.me-mod-update > i {
  grid-column: 1;
  grid-row: 1;
  pointer-events: none;
  margin-left: 7px;
}

.me-global-delete {
  position: absolute;
  left: -15px;
  bottom: -15px;
  color: red;
}

/* .me-global-delete > a > i {
  border-width: 0px 1px 1px 1px;
  border-style: solid solid solid solid;
} */

/* ===================== 
   === Randomization ===
   ===================== */

.mass-edit-randomize.active {
  color: red;
}

.mass-edit-randomizer-form {
  display: flex;
  flex-direction: column;
}

.mass-edit-randomizer-form > textarea,
.mass-edit-randomizer-form > select {
  width: 100%;
  height: 100%;
}

.mass-edit-randomizer-form .folder-picker {
  flex: 0 !important;
}

/* ===================== 
   ====== Presets ======
   ===================== */

.mass-edit-preset-form {
  /* overflow: hidden; */
  color: rgba(255, 255, 240, 0.8);
}

#mass-edit-presets .window-content,
.preset-field-select .window-content {
  background: rgba(50, 50, 50, 0.8);
  padding-left: 1px;
  padding-right: 1px;
}

.mass-edit-preset-form .item-list {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  min-height: 500px;
  /* max-height: 700px; */
}

.mass-edit-preset-form .preset-header {
  flex: none;
  line-height: var(--sidebar-header-height);
  text-align: center;
  margin: 0 0 3px;
}

.mass-edit-preset-form .preset-header .header-search,
.mass-edit-preset-form .preset-header .header-select {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.mass-edit-preset-form .preset-header .window-controls {
  margin-left: 4px;
  border-left: 2px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 12px;
  padding-left: 5px;
}

.mass-edit-preset-form .preset-header .window-controls .header-control {
  width: 20px;
  height: 20px;
}

.mass-edit-preset-form .preset-header .header-control .fa-plus {
  position: absolute;
  top: 4px;
  right: 1px;
  font-size: 0.5rem;
  background: black;
  color: var(--color-text-light-highlight);
  padding: 1px;
  border-radius: 4px;
}

.mass-edit-preset-form .preset-header .header-search > *,
.mass-edit-preset-form .preset-header .header-select > * {
  flex: 0 0 24px;
}

.mass-edit-preset-form .preset-header .header-search input {
  flex: 1;
  margin: 0 3px px;
  background: rgba(255, 255, 245, 0.8);
}

.mass-edit-preset-form .preset-header .header-search input.active {
  background-color: orange;
  color: black;
  font-weight: 500;
}

.mass-edit-preset-form .preset-header .active {
  color: darkorange;
}

.mass-edit-preset-form .action-buttons button {
  height: 28px;
  line-height: 26px;
  margin: 4px;
  min-width: max-content;
  white-space: nowrap;
  background: rgba(255, 255, 240, 0.8);
}

.mass-edit-preset-form .document-select.active,
.folder-edit .document-select.active {
  color: orange;
}

.mass-edit-preset-form .static-label {
  display: block;
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  margin-top: 20px;
  border-bottom: 1px solid brown;
  border-top: 1px solid brown;
  padding: 2px;
}

.mass-edit-preset-form .item-list .item {
  line-height: 48px;
  border-top: 1px solid dimgray;
  box-shadow: none;
  position: relative;
}

.mass-edit-preset-form .folder {
  line-height: 48px;
  border: none;
  box-shadow: none;
  margin-right: 3px;
  position: relative;
  margin-top: 1px;
}

.mass-edit-preset-form .preset-items {
  padding: 0;
  margin: 0;
  /* min-height: 15px; */
}

.mass-edit-preset-form .folder-items {
  list-style-type: none;
  padding-left: 2px;
  margin-top: 1px;
  padding: 0;
  margin: 0;
}

.mass-edit-preset-form .folder {
  border-width: 2px 0px 4px 7px;
  border-color: rgba(0, 0, 0, 0.6);
  border-style: solid;
  margin-right: 0;
  margin-bottom: 1px;
}

.mass-edit-preset-form .folder.drag-top {
  border-top: 2px solid orange !important;
}

.mass-edit-preset-form .folder.drag-mid > header h3 {
  font-size: var(--font-size-18);
  color: orange;
}

.mass-edit-preset-form .item.drag-top {
  border-top: 1px solid orange !important;
}

.mass-edit-preset-form .item .thumbnail {
  pointer-events: none;
}

.mass-edit-preset-form .item.drag-bot {
  border-bottom: 1px solid orange !important;
}

.mass-edit-preset-form .top-level-preset-items {
  min-height: 50px;
}

.mass-edit-preset-form .folder header {
  padding: 6px;
  line-height: 24px;
  background: rgba(0, 0, 0, 0.6);
}

.mass-edit-preset-form .folder header h3 {
  margin: 0;
  color: var(--color-text-light-highlight);
  font-size: var(--font-size-16);
  line-height: 24px;
  border: none;
}

.mass-edit-preset-form .folder header h3 i {
  margin-right: 10px;
}

.mass-edit-preset-form .folder.selected > header {
  border-color: orange;
  background: linear-gradient(#f005, #f005), linear-gradient(#0f05, #0f05);
}

.mass-edit-preset-form .folder.selected {
  border-left-color: orange !important;
}

.mass-edit-preset-form .folder .item {
  margin-left: 2px;
  margin-right: 0px;
}

.mass-edit-preset-form .folder.collapsed > ol {
  display: none;
}

.mass-edit-preset-form .item img {
  flex: 0 0 var(--sidebar-item-height);
  height: var(--sidebar-item-height);
  width: var(--sidebar-item-height);
  object-fit: cover;
  object-position: 50% 0;
  border: none;
  margin-top: 1px;
  margin-bottom: 1px;
}

.mass-edit-preset-form .item .icon {
  position: absolute;
  top: 34px;
  left: 0;
  color: white;
}

.mass-edit-preset-form .item .item-name {
  margin: 0 0 0 8px;
}

.mass-edit-preset-form .item .item-name label {
  line-height: 1.5;
  display: flex;
  align-items: center;
  line-break: anywhere;
}

.mass-edit-preset-form .item .item-controls {
  flex: 0 0 50px;
  margin-right: 5px;
  text-align: right;
}

.mass-edit-preset-form .item.item-s.selected {
  background: linear-gradient(#f005, #f005), linear-gradient(#0f05, #0f05);
}

.mass-edit-preset-form .folder.item-s.selected {
  border-color: orange;
  /* background: linear-gradient(#f005, #f005), linear-gradient(#0f05, #0f05); */
}

#mass-edit-presets .overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#mass-edit-presets .overlay .label {
  font-size: large;
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  font-size: xx-large;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
  margin-top: -10px;
  text-align: center;
}

.mass-edit-preset-form .preset-brush.active {
  color: yellow;
}

.mass-edit-scene-control {
  color: cornflowerblue !important;
}

input.me-add {
  background-color: greenyellow;
}

input.me-subtract {
  background-color: orangered;
}

.preset-field-select .item {
  border-top: 1px solid dimgray;
  box-shadow: none;
  line-height: 24px;
}

.preset-field-select .item .value {
  flex: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preset-field-select .item.selected {
  background-color: darkred;
}

.preset-field-select .header {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  line-height: 31px;
}

#mass-edit-preset-edit .form-group.disabled {
  opacity: 0.5;
}

/* ===================== 
   ====== History ======
   ===================== */

.mass-edit-history-form .item-update {
  flex: 2;
}

.mass-edit-history-form .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  color: #7a7971;
  margin-bottom: 10px;
  overflow: hidden;
}

.mass-edit-history-form .item-control {
  text-align: center;
}

.mass-edit-history-form .me-diff {
  background-color: orange;
}

/* ===================== 
   === Generic Form ====
   ===================== */
.mass-edit-generic-form nav {
  overflow-x: auto;
}

nav > a[data-tab='me-pinned'] {
  color: orangered;
}

.me-pinned {
  flex: 0.1 !important;
  color: gray;
}

.me-pinned.active {
  color: gold;
}

.me-delete-flag {
  flex: 0.1 !important;
  color: gray;
}

.me-delete-flag.active {
  color: rgb(255, 0, 0);
}

.me-editable-label {
  border: none !important;
}

.mass-edit-generic-form .tva-jsonArray {
  height: 100px;
  white-space: pre-wrap;
}
