.mass-edit-checkbox {
  flex: 0 !important;
  margin-left: 3px;
  display: grid;
}

.mass-edit-checkbox > input {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.mass-edit-randomize {
  display: inline-grid;
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}

.mass-edit-randomize.active::before {
  content: '';
  z-index: 0;
  position: relative;
  left: 50%;
  top: 50%;
  width: calc(100% * 1.5);
  height: calc(100% * 1.5);
  background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  animation: spin 11s linear infinite;
}

.form-group.meCommon {
  margin-bottom: 5px;
}

.form-group.meDiff {
  margin-bottom: 5px;
}

.form-group.meFlag {
  margin-bottom: 5px;
}

.mass-edit-tab-selected {
  background: rgba(255, 202, 58, 0.8);
}

.me-mod-update {
  flex: 0 !important;
  display: grid;
  align-items: center;
}

.me-mod-update > input {
  grid-column: 1;
  grid-row: 1;
}

.me-mod-update > i {
  grid-column: 1;
  grid-row: 1;
  pointer-events: none;
  margin-left: 7px;
}

.me-global-delete {
  position: absolute;
  left: -15px;
  bottom: -15px;
  color: red;
}

/* .me-global-delete > a > i {
  border-width: 0px 1px 1px 1px;
  border-style: solid solid solid solid;
} */

/* ===================== 
   === Randomization ===
   ===================== */

.mass-edit-randomize.active {
  color: red;
}

.mass-edit-randomizer-form {
  display: flex;
  flex-direction: column;
}

.mass-edit-randomizer-form > textarea,
.mass-edit-randomizer-form > select {
  width: 100%;
  height: 100%;
}

.mass-edit-randomizer-form .folder-picker {
  flex: 0 !important;
}

/* ===================== 
   ====== Presets ======
   ===================== */

.mass-edit-dark-window .window-content,
.mass-edit-dark-window .tag {
  background: rgba(50, 50, 50, 0.8);
  color: white;
}

.mass-edit-dark-window button {
  background: black;
  color: white;
}

.mass-edit-dark-window button:disabled {
  background: gray;
  color: white;
}

.mass-edit-dark-window input,
.mass-edit-dark-window textarea {
  color: white;
}

.mass-edit-dark-window p.notes {
  color: var(--color-text-light-primary);
}

.mass-edit-window-fill .window-content {
  padding-left: 1px;
  padding-right: 1px;
}

#mass-edit-presets.inactive {
  opacity: 10%;
  pointer-events: none;
}

.mass-edit-preset-form .item-list {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  min-height: 500px;
  /* max-height: 700px; */
}

.mass-edit-preset-form .preset-header {
  flex: none;
  line-height: var(--sidebar-header-height);
  text-align: center;
  margin: 0 0 3px;
}

.mass-edit-preset-form .preset-header .header-search,
.mass-edit-preset-form .preset-header .header-select {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.mass-edit-preset-form .preset-header .window-controls {
  margin-left: 4px;
  border-left: 2px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 12px;
  padding-left: 5px;
}

.mass-edit-preset-form .preset-header .window-controls .header-control {
  width: 20px;
  height: 20px;
}

.mass-edit-preset-form .preset-header .header-control .fa-plus {
  position: absolute;
  top: 4px;
  right: 1px;
  font-size: 0.5rem;
  background: black;
  color: var(--color-text-light-highlight);
  padding: 1px;
  border-radius: 4px;
}

.mass-edit-preset-form .preset-header .header-search > *,
.mass-edit-preset-form .preset-header .header-select > * {
  flex: 0 0 24px;
}

.mass-edit-preset-form .preset-header .header-search input {
  flex: 1;
  margin: 0 3px px;
  background: rgba(255, 255, 245, 0.8);
}

.mass-edit-preset-form .preset-header .header-search input.active {
  background-color: orange;
  color: black;
  font-weight: 500;
}

.mass-edit-preset-form .preset-header .active {
  color: darkorange;
}

.mass-edit-preset-form .action-buttons button {
  height: 28px;
  line-height: 26px;
  margin: 4px;
  min-width: max-content;
  white-space: nowrap;
  background: rgba(255, 255, 240, 0.8);
}

.mass-edit-preset-form .document-select.active,
.folder-edit .document-select.active {
  color: orange;
}

.mass-edit-preset-form .static-label {
  display: block;
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  margin-top: 20px;
  border-bottom: 1px solid brown;
  border-top: 1px solid brown;
  padding: 2px;
}

.mass-edit-preset-form .item-list .item {
  line-height: 48px;
  border-top: 1px solid dimgray;
  box-shadow: none;
  position: relative;
}

.mass-edit-preset-form .folder {
  line-height: 48px;
  border: none;
  box-shadow: none;
  margin-right: 3px;
  position: relative;
  margin-top: 1px;
}

.mass-edit-preset-form .folder .branding {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}

.mass-edit-preset-form .folder .subtext {
  color: #f1d438eb;
  font-size: smaller;
  padding-left: 15px;
}

.mass-edit-preset-form .preset-items {
  padding: 0;
  margin: 0;
  /* min-height: 15px; */
}

.mass-edit-preset-form .folder-items {
  list-style-type: none;
  padding-left: 2px;
  margin-top: 1px;
  padding: 0;
  margin: 0;
}

.mass-edit-preset-form .folder {
  border-width: 2px 0px 4px 7px;
  border-color: rgba(0, 0, 0, 0.6);
  border-style: solid;
  margin-right: 0;
  margin-bottom: 1px;
}

.mass-edit-preset-form .folder.drag-top {
  border-top: 2px solid orange !important;
}

.mass-edit-preset-form .folder.drag-mid > header h3 {
  font-size: var(--font-size-18);
  color: orange;
}

.mass-edit-preset-form .item.drag-top {
  border-top: 1px solid orange !important;
}

.mass-edit-preset-form .item .thumbnail {
  pointer-events: none;
}

.mass-edit-preset-form .item.drag-bot {
  border-bottom: 1px solid orange !important;
}

.mass-edit-preset-form .top-level-preset-items {
  min-height: 50px;
}

.mass-edit-preset-form .folder header {
  padding: 6px;
  line-height: 24px;
  background: rgba(0, 0, 0, 0.6);
}

.mass-edit-preset-form .folder header h3 {
  margin: 0;
  color: var(--color-text-light-highlight);
  font-size: var(--font-size-16);
  line-height: 24px;
  border: none;
}

.mass-edit-preset-form .folder header h3 i {
  margin-right: 10px;
}

.mass-edit-preset-form .folder.selected {
  border-left-color: orange !important;
}

.mass-edit-preset-form .folder .item {
  margin-left: 2px;
  margin-right: 0px;
}

.mass-edit-preset-form .folder.collapsed > ol {
  display: none;
}

.mass-edit-preset-form .item img {
  flex: 0 0 var(--sidebar-item-height);
  height: var(--sidebar-item-height);
  width: var(--sidebar-item-height);
  object-fit: cover;
  object-position: center;
  border: none;
  margin-top: 1px;
  margin-bottom: 1px;
}

.mass-edit-preset-form .item .icon {
  position: absolute;
  left: 2px;
  color: white;
  bottom: 2px;
}

.mass-edit-preset-form .item .item-name {
  margin: 0 0 0 8px;
  display: flex;
  align-items: center;
}

.mass-edit-preset-form .item .item-name label {
  flex: 0 0 100%;
  line-height: 1.5;
  line-break: anywhere;
}

.mass-edit-preset-form .item .item-name .tags {
  line-height: 18px;
  margin-bottom: 2px;
  margin-top: 7px;
  font-size: 0.9em;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: clip;
  transition: flex 1s ease;
  flex: 0;
}

.mass-edit-preset-form .item .item-name .tags.show {
  transition: all 1s ease;
  transition-delay: 1.5s;
  flex: 0 0 100%;
}

.mass-edit-preset-form .item .item-name .tags span {
  color: gold;
  border: 1px gold solid;
  border-radius: 3px;
  padding: 0px 2px 0px 4px;
}

.mass-edit-preset-form .item .item-controls {
  text-align: right;
  position: absolute;
  right: 9px;
}

.mass-edit-preset-form .item.item-s.selected {
  background: linear-gradient(#ffa50055, #ffa50055), linear-gradient(#bb5f0155, #ffb10055);
}

.mass-edit-preset-form .folder.item-s.selected {
  border-color: orange;
}

.mass-edit-preset-form .fa-folder-open {
  color: orange;
}

.drag-drop-overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.drag-drop-overlay .label {
  font-size: large;
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  font-size: xx-large;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
  margin-top: -10px;
  text-align: center;
}

.mass-edit-preset-form .preset-brush.active {
  color: yellow;
}

.mass-edit-preset-form .preset-brush.active.spawner {
  color: greenyellow;
}

.mass-edit-scene-control {
  color: cornflowerblue !important;
}

input.me-add {
  background-color: greenyellow;
}

input.me-subtract {
  background-color: orangered;
}

.preset-field-select .item {
  border-top: 1px solid dimgray;
  box-shadow: none;
  line-height: 24px;
}

.preset-field-select .item .value {
  flex: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preset-field-select .item.selected {
  background-color: darkred;
}

.preset-field-select .header {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  line-height: 31px;
}

#mass-edit-preset-edit .form-group.disabled {
  opacity: 0.5;
}

#mass-edit-preset-edit input[type="checkbox"]:checked {
  accent-color: darkorange;
}

.mass-edit-preset-form .display-hover {
  display: none;
}

.mass-edit-preset-form .display-hover.show {
  display: block;
}

@container (min-width: 450px) {
  .mass-edit-preset-form .preset-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
  }

  .mass-edit-preset-form .item-list .item {
    aspect-ratio: 1;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid gray;
  }

  .mass-edit-preset-form .item .item-name {
    display: none;
  }

  .mass-edit-preset-form .item .item-controls {
    position: absolute;
  }

  .mass-edit-preset-form .item .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
  }

  .mass-edit-preset-form .item img {
    flex: none;
  }
}

/* ===================== 
   === Generic Form ====
   ===================== */
.mass-edit-generic-form nav {
  overflow-x: auto;
}

nav > a[data-tab='me-pinned'] {
  color: orangered;
}

.me-pinned {
  flex: 0.1 !important;
  color: gray;
}

.me-pinned.active {
  color: gold;
}

.me-delete-flag {
  flex: 0.1 !important;
  color: gray;
}

.me-delete-flag.active {
  color: rgb(255, 0, 0);
}

.me-editable-label {
  border: none !important;
}

.mass-edit-generic-form .tva-jsonArray {
  height: 100px;
  white-space: pre-wrap;
}

/* ================= 
   === Tag Input ===
   ================= */

.me-tags .tag-container {
  flex: 0 0 100%;
  margin-top: 8px;
}

.me-tags .tag-container .tag {
  border: 1px gray solid;
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
  display: inline-block;
}

.me-tags .add-tag {
  flex: 0;
  margin-left: 0.5em;
  line-height: inherit;
}

/* ================== 
   === Brush Menu ===
   ================== */

.mass-edit-brush-menu .preset {
  border: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 6px;
  padding: 2px;
  margin-top: 2px;
}

.mass-edit-brush-menu .preset.active {
  background-color: darkorange;
}

.mass-edit-brush-menu .ui-slider-range {
  background-color: darkorange;
}

.mass-edit-brush-menu .ui-slider-handle {
  background-color: darkorange;
  border-color: black;
}

.mass-edit-brush-menu .ui-slider {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mass-edit-brush-menu .sub-controls {
  display: inline-block;
  text-align: center;
  margin-top: 3px;
  line-height: 1.5em;
}

.mass-edit-brush-menu .sub-controls a {
  padding: 3px;
}

.mass-edit-brush-menu a.active {
  color: darkorange;
}

.mass-edit-brush-menu .presets {
  max-height: 350px;
  overflow-y: scroll;
}

.mass-edit-brush-menu input[type='text'] {
  color: wheat;
}

.rainbow-text {
  background: red;
  background: -webkit-linear-gradient(left, red, yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, red, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, red, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, red, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ================== 
   ===== Indexer ====
   ================== */

.indexDirectories {
  display: flex;
  flex-direction: column;
}

.indexDirectories .directory {
  display: flex;
  flex: 1;
}

.indexDirectories .directory > * {
  margin: 2px;
}

.indexDirectories .source,
.indexDirectories .bucket {
  flex: 0.3;
}

.indexDirectories .target {
  flex: 1;
}

.indexDirectories .deleteDirectory {
  flex: 0.1;
  text-align: center;
  padding-top: 5px;
}


/* ======================== 
   ===== Video Preview ====
   ======================== */

.meVideoPreview {
  position: absolute;
  top: 25px;
  left: 25px;
  background: black;
  border: 5px solid darkorange;
  z-index: 9999;
  pointer-events: none;
}