<div class="overlay"><p class="label">CREATE PRESET</p></div>
<form class="mass-edit-preset-form">

    <header class="preset-header flexcol">
        {{#if allowDocumentSwap}}

        <div class="header-select flexrow">
            {{#each docs}}
            <a class="document-select {{#if (eq @key ../currentDocument)}}active{{/if}}" title="{{@key}}" data-name="{{@key}}"><i class="{{this}} fa-lg"></i></a>
            {{/each}}
            <a class="header-control toggle-doc-lock {{#if docLockActive}}active{{/if}}" data-tooltip="Lock '{{currentDocument}}' as default on form open."><i class="fa-solid fa-lock"></i></a>
        </div>

        {{/if}}
        {{#if createEnabled}}
        <div class="header-actions action-buttons flexrow">
            <button type="button" class="preset-create"><i class="fas fa-plus"></i> Create Preset</button>
            <!-- <button class="create-folder"><i class="fas fa-folder"></i> Create Folder</button> -->
        </div>
        {{/if}}
        <div class="header-search flexrow">
            <a class="header-control toggle-search-mode" data-tooltip="Search by Name only"><i class="fas fa-search"></i></a>
            <input type="search" name="search" value="{{lastSearch}}" placeholder="Search" autocomplete="off">
            <a class="header-control toggle-sort" data-tooltip="{{sortMode.tooltip}}">{{{sortMode.icon}}}</a>
        </div>
    </header>

    {{#if displayDragDropMessage}}
    <h2 style="text-align: center; margin-top: 100%; margin-bottom: 100%; border: none;">Drag a placeable in to create a preset.</h2>
    {{/if}}

    {{#unless displayDragDropMessage}}

    <div class="item-list preset-items folder-items" >

        <ol class="folder-items top-level-folder-items">
            {{#each folders as |folder|}}
                {{#if folder.visible}}
                    {{>modules/multi-token-edit/templates/generic/presetFolder.html folder=folder refreshEnabled=../refreshEnabled createEnabled=../createEnabled isPlaceable=../isPlaceable callback=../callback editable=true}}
                {{/if}}
            {{/each}}
        </ol>

        <ol class="preset-items top-level-preset-items">
            {{#each presets as |preset|}}
            {{#if preset._visible}}
                {{>modules/multi-token-edit/templates/generic/preset.html preset=preset refreshEnabled=../refreshEnabled createEnabled=../createEnabled isPlaceable=../isPlaceable callback=../callback editable=true}}
            {{/if}}
            {{/each}}
        </ol>

        <label class="static-label">STATIC FOLDERS</label>
        <ol class="folder-items static">
            {{#each staticFolders as |folder|}}
                {{#if folder.visible}}
                    {{>modules/multi-token-edit/templates/generic/presetFolder.html folder=folder refreshEnabled=../refreshEnabled createEnabled=../createEnabled isPlaceable=../isPlaceable callback=../callback}}
                {{/if}}
            {{/each}}
        </ol>
    </div>
    {{/unless}}
</form>