<section class="flexcol" style="gap: 8px;">
    <div class="form-group">    
        <label>Scene Compendium</label>
        <div class="form-fields">
            <select name="sceneCollection">
                {{selectOptions sceneCompendiumOptions}}
            </select>
        </div>
    </div>
    <div class="form-group">    
        <label>Target Mass Edit Compendium</label>
        <div class="form-fields">
            <select name="meCollection">
                {{selectOptions meCompendiumOptions}}
            </select>
        </div>
    </div>
</section>