<ol class="folder-items top-level-folder-items">
    {{#each nodes as |node|}}
        {{#if (meRender node.folder context=../context)}}
            {{>me-preset-folder folder=node.folder createEnabled=../createEnabled callback=../callback sortable=true draggable=true}}
        {{/if}}
    {{/each}}
</ol>

<ol class="preset-items top-level-preset-items">
    {{#each presets as |preset|}}
    {{#if (meRender this context=../context)}}
        {{>me-preset preset=preset createEnabled=../createEnabled callback=../callback sortable=true}}
    {{/if}}
    {{/each}}
</ol>

{{#if externalTrees}}
<label class="static-label">EXTERNAL</label>
<ol class="folder-items static">
    {{#each externalTrees as |node|}}
    {{#if (meRender node.folder context=../context)}}
        {{>me-preset-folder node=node folder=node.folder createEnabled=../createEnabled callback=../callback}}
    {{/if}}
    {{/each}}
</ol>
{{/if}}