<div class="item-list folder-items" data-tooltip-direction="RIGHT" data-tooltip-class="preset-tooltip">
    {{>me-presets-content nodes=nodes externalTrees=externalTrees createEnabled=createEnabled callback=callback presets=presets sortable=sortable}}
</div>