.mass-edit-checkbox {
  flex: 0 !important;
  margin-left: 3px;
  display: grid;
}

.mass-edit-checkbox > input {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.mass-edit-randomize {
  display: inline-grid;
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}

.mass-edit-randomize.active::before {
  content: '';
  z-index: 0;
  position: relative;
  left: 50%;
  top: 50%;
  width: calc(100% * 1.5);
  height: calc(100% * 1.5);
  background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  animation: spin 11s linear infinite;
}

.form-group.meCommon {
  margin-bottom: 5px;
}

.form-group.meDiff {
  margin-bottom: 5px;
}

.form-group.meFlag {
  margin-bottom: 5px;
}

/* ===================== 
   === Randomization ===
   ===================== */

.mass-edit-randomize.active {
  color: red;
}

.mass-edit-randomizer-form {
  display: flex;
  flex-direction: column;
}

.mass-edit-randomizer-form > textarea,
.mass-edit-randomizer-form > select {
  width: 100%;
  height: 100%;
}

.mass-edit-randomizer-form .folder-picker {
  flex: 0 !important;
}

/* ===================== 
   ====== Presets ======
   ===================== */

.mass-edit-preset-form .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
  margin-bottom: 10px;
}

.mass-edit-preset-form .item-control {
  text-align: center;
}

.mass-edit-preset-form .item-control.preset-delete {
  padding-top: 10px;
  color: rgb(136, 0, 0);
}

.mass-edit-preset-form .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  color: black;
}

.mass-edit-preset-form .items-header .item-name {
  padding-left: 4px;
  font-weight: bold;
}

.mass-edit-preset-form .item-controls {
  flex: 0 0 35px;
  padding-bottom: 7px;
}

.mass-edit-preset-form .item-name > button {
  text-align: left;
}

/* .mass-edit-preset-form .item {
  height: 35px;
} */
